.calculateprice {
    height:50vh;
}
.calculateprice-price {
    /* border: 1px solid rgb(187, 187, 187); */
    width: fit-content;
    padding: 10px;
    /* background-color: rgb(243, 243, 243); */
    text-align: center;
    border-radius: 12px;
    margin-top: 20px;
    margin-left: 15px;
    background: transparent !important;
    /* border: 1px solid white; */
    color: white !important;
    /* border: nion; */
}
.calculateprice-range {
    /* border: 1px solid rgb(187, 187, 187); */
    width: fit-content;
    padding: 10px;
    /* background-color: rgb(243, 243, 243); */
    text-align: center;
    border-radius: 12px;
    margin-top: 20px;
    margin-left: 15px;
    background: transparent !important;
    /* border: 1px solid white; */
    color: white !important;
}
.calculateprice-bottom {
    height:42vh;
    margin: 20px;
    color:white;
    padding:10px;
    position: relative;
    top: 50%;
}
.price-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 70px;
}