.dashboard-container{
    height: 40vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* position: relative; */
    top: 80px;
    background: transparent !important;
}
.css-1nff893 {
   opacity: 1;
   background: none !important; 
   box-shadow: none !important;
}
.dashboard-container-label {
    height:10vh;
    width: 80%;
    display: flex;
    justify-content: space-around;
}
.dashboard-container-input {
    width: 80%;
    height:30vh;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
.dashboard-next-button button{
    border: 1px solid rgb(196, 196, 196);
    width: 300px;
    text-align: center;
    color: black !important;
}
.dashboard {
    background: transparent;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.css-1nff893 {
   margin-top: 100px !important;
}
body {
    background: white !important;
    background-size: cover;
    background-repeat: no-repeat;
}
.dashboard-container-label h2 {
    color: white;
}
.dashboard-next-button button {
    color: white !important;
}
.dashboard-container-input {
    color: white;
}