.manage-subscriptions {
    box-sizing: border-box;
    height: 90vh;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.manage-subscriptions-cards {
    height: 60vh;
    width: 90%;
    display: flex;
    align-items: center;
    color: black !important; 
    justify-content: space-around;
    margin: auto;
    margin-top: 5%;

}
.manage-subscriptions-cards-card{ 
    height: 45vh;
    border-radius: 28px;
    width: 15%;
    background-color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.subscription-type {
    width: 60%;
}
.subscription-type-current {
    font-size: 11px;
    font-weight: 400 !important;
    margin-top: -1px;
}
.subscription-type-p{
    font-size: 19px;
    letter-spacing:1px;
    font-weight: 800;
}
.subscription-price {
    width: 60%;
    margin-top: 50px;
}
.subscription-price-p {
    font-size: 19px;
    letter-spacing:1px;
    font-weight: 400 !important;

}
.subscription-description{   
    font-size: 15px;
    width: 60%;
    margin: auto;
    font-weight: 400 !important;

}
.subscription-description-p {
    color: black;
    text-decoration: none;
}
.manage-subscriptions-logo {
    margin-left: 40px;
    color: white;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 1.2px;
}
.manage-subscriptions-cards :hover{
    background-color:rgb(227, 227, 227);
}
.checkout{
    opacity: 1;
    margin-bottom: 20px;
}
.checkout-add {
    margin-top:40px;
}