.shipmentDetails-container {
    width: 90%;
    height: 99vh;
    margin: auto;
}
.shipmentDetails-shipment-details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 65vh;
}
.shipmentDetails-shipment-fields {
    height:34vh;
    /* margin-top: 10px; */
}
.shipmentDetails-shipment-details-header{
    width:40%;
    margin: auto;
    text-align: center;
}

.shipmentDetails-shipment-details-content {
    width:40%;
    margin: auto;
    text-align: center;
}
.shipmentDetails-shipment-details-options {
    width:40%;
    height:50vh;
    margin: auto;
}
.shipmentDetails-shipment-details-options-container {
    color: black;
    margin-left: 150px;
    position: relative;
}
.shipmentDetails-shipment-details-options-container button {
    border: 1px solid rgb(160, 160, 160);
    color: black;
    width:60%;
    margin: auto;
}
.selected-class {
    background: rgb(151, 151, 151) !important;
}
.shipmentDetails-shipment-fields {
    text-align: center;
}
::-webkit-scrollbar {
    display: none;
}
.shipmentDetails-shipment-fields-others {
    border: none;
    overflow: scroll;
    height:20vh;
}

.shipmentDetails-shipment-fields-others-inputfields {
    height:10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white !important;
}
.shipmentDetails-shipment-fields-addRemove{
    height:10vh;
    margin-top: 0px;
    margin-top: 0px;
    color: black;
}
.shipmentDetails-shipment-fields-addRemove button{
    color: black;
    background-color:rgb(221, 221, 221);
    width:200px;
}

.shipmentDetails-shipment-fields {
    margin-top: -103px;
}

.shipmentDetails-shipment-fields-others {
    margin-top: -103px;
}

.shipmentDetails-shipment-fields-others {
    margin-top: 20px !important;
}
.shipmentDetails-shipment-fields {
    margin-top: 15px !important;
}
.next-button {
    border: 2px solid rgb(208, 208, 208) !important;
    color: rgb(0, 0, 0) !important;
    margin-top: 10px !important;
    position: relative !important;
    left:95%;
}
.next-button-euro-pallet{
    border: 2px solid rgb(208, 208, 208) !important;
    color: rgb(0, 0, 0) !important;
    margin-top: 10px !important;
    position: relative !important;
    width: 15% !important;
    position: relative !important;
    left:43%;
    top: -40px;
}

.shipmentDetails-shipment-details-header h4 {
    color: white;
}
.shipmentDetails-shipment-details-content h4{
    color: white;

}
.shipmentDetails-shipment-details-options-container button {
    color: white;
}
.shipmentDetails-shipment-fields-header h4 {
    color: white;

}
.dashboard-shipment-button button {
    color: white !important;

}
.shipmentDetails-shipment-fields-others-inputfields input {
    width: 130px;
}
.shipmentDetails-shipment-fields {
    /* border: 1px solid red; */
    margin-top: -34px !important;
}
.shipmentDetails-shipment-details-options-container button {
    border: 1px solid white; 
}

.icons-wrapper {
    /* border: 1px solid red; */
    width: fit-content;
    position: relative;
    left:100%;
    top: -150px;
}

.shipmentDetails-shipment-details-header h4 {
    font-family: 'Calibri' !important;
}
.dashboard-shipment-button {
    width: fit-content !important;
    position: relative;
    left:90%;
    top:-70px;
}