.welcome-page {
    height:100vh;
    box-sizing: border-box;
}
.welcome-page-navbar {
    height:15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:white;
    padding: 1%;
}
.welcome-page-navbar-logo-items {
    display: flex;
    width: 35%;
    align-items: center;
    justify-content: space-around;
}
.welcome-page-navbar-bottom {
    display: flex;
    width:40%;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    color: white;
    position: relative;
    left: 70%;
    top: -5%;
}
.welcome-page p {
    font-family: 'Calibri' !important;
    font-weight: 400;
}
.welcome-page-navbar-logo p {
    font-size: 25px;
}
.welcome-page-navbar-logo-items p {
    font-size: 22px;
}
.welcome-page-navbar-bottom p{
    cursor: pointer
}
.welcome-page-title{ 
    /* border: 1px solid red; */
    text-align: center;
    margin-top: 200px;
}
.welcome-page-title h1 {
    font-size: 75px;
    font-weight: 500;
    color: white;
    margin-bottom: 10px
}
.welcome-page-title h2 {
    font-size: 40px;
    font-weight: 500;
    color: white;
}
