.contactpage {
    color: white;
}
.header{
text-align: center;
font-weight: 400;
margin-top: 30px;
font-size: 40px;}
.body{
    text-align: center;
    font-weight: 400;
    margin-top: 25px;
    font-size: 24px;}


    .MuiOutlinedInput-input::placeholder {
        color: white !important;

    }