/* Design inspiration:  https://dribbble.com/shots/1978243-Latest-News */

$blue: #341cac;

body{
  box-sizing: border-box;
  font-family: 'Calibri' !important;
  // background: url('../assets/images/backgroundImage.png') !important;
  background-repeat: no-repeat !important;
  // background-size:contain !important;
  
}

.card {
  width:280px;
  display: block;
  margin: 60px auto;
  box-shadow: 10px 5px 40px 20px darken(#341cac, 5%);
  transition: .25s;
  
  &:hover {
    box-shadow: 10px 5px 40px 20px darken(#341cac, 10%);
    cursor: pointer;
    
    .button-primary {
      transform: translate(10px, 0);
    }
  }
}

.card-header {
  height: 150px;
  width: 100%;
  padding: 15px;
  width:100%;
  background-size:cover;
  color:#fff;
}

.card-header--title {
  text-transform: uppercase;
  margin: 0;
}

.card-body {
  padding: 15px;
  background-color:#fff;
  width:100%;
}

.date {
  font-size: 11px;
  font-weight: 600;
  color: grey;
}

.body-content {
  padding-bottom: 40px;
  font-size: 13px;
  line-height: 1.8;
}

.button-primary {
  border: none;
  box-shadow: none;
  font-family: inherit;
  background-color:transparent;
  color: $blue;
  font-size: 15px;
  transition:.25s;
  
  i{
    padding-right:4px;
  }
}


.designer-link {
  color:#fff;
  text-align:center;
  text-decoration: none;
  display:block;
}

.background-image {
  background-image:url('../assets/images/digital-image.jpg');
}

.coming-soon {
  cursor:pointer;
  border-radius:3px;
  color:white;
  padding:5px;
  background-image:linear-gradient(rgb(125, 197, 238), rgb(0, 140, 221) 85%, rgb(48, 162, 228));
}