/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap'); */
.App {
  text-align: center;
      font-family: 'Calibri' !important;
}
body {
      font-family: 'Calibri' !important;
  font-weight: 800;
  box-sizing: border-box;
  height: 100vh;
  background:  linear-gradient(
    rgba(0,0,0, 0),
    /* rgba(0,0,0, 0), */
    rgba(0,0,0, 0.8)
  ), url('./assets/images/backgroundImage.png') 80% 60% !important;
  background-size: cover !important;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

fieldset{
  border: none !important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.welcome-page-navbar-logo img {
  width: 74px !important;
  margin-left: 20px;
  /* position: absolute; */
  position: relative;
  top: 20px;
  left: 30px;

}